<h1>Users list  page </h1>

<div class="user">

        <% @users.each do |u| %>
            <div class="photo"> <%= u.photo %> </div>
            <div class="detail">
                <h1>  <%=  u.name %></h1>
                <small>Number of posts: <%= u.posts_counter%>  </small>
            </div>
        <% end %>

</div>
