.photo img {
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
}

.col-md-3 {
  flex: 0 0 auto;
  width: 10%;
}
.post-counter {
  position: absolute;
  bottom: -8px;
  right: 10px;
}
.detail {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  height: 65px;
}
.bio {
  width: 80%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  text-align: left;
}
